/* RESET CSS
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 background-color: transparent;
 text-decoration: none;
}

input[type="placeholder"],
input[type="password"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/* textarea, input, button { outline: none; } */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


/*beginning of custom CSS*/

main {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: left;

  letter-spacing: 1px;
  line-height: 120%;

  font-family: 'Cantarell', sans-serif;
  /* font-family: Courier; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Bitter', serif; */
  /* font-family: 'Hind', sans-serif; */
  /* font-family: 'Domine', serif; */
  /* font-family: 'Crimson Text', serif; */
}

h1 {
  font-size: 2.5em;
  letter-spacing: 2px;
  font-family: 'Fjalla One', sans-serif;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Fugaz One', cursive; */
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Libre Baskerville', serif; */

}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.75em;
  text-decoration: bold;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  text-decoration: bold;
}

h4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.25em;
  text-decoration: bold;
}

h5 {

}

h6 {
  /* used for footer */
  font-size: 0.75em;
}


#head {
  background-color: pink;
  width: 100%;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

#headline {
  background-color: gray;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  display: flex;
}

#landingPage {
  background-color: lightblue;
  width: 100%;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

#temp {
  background-color: lightgreen;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}

#api {
  background-color: yellow;
  margin: 10px;
  padding: 10px;
}

#landingPage a {
  text-decoration: underline;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

#foot {
  background-color: pink;
  width: 100%;
  /* margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

#footline {
  background-color: gray;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  diplay: flex;
}


#map {

}

#search {

}

#filter {

}

#listings {

}

#addRetailer {

}
