<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="utf-8">
        <link
            rel="icon"
            href="https://res.cloudinary.com/dckkkjkuz/image/upload/v1509963219/findcokezero/soda-bottle.svg"
            type="image/x-icon"/>
    </head>

    <body>
        <h1>FindCokeZero</h1>
        <div></div>
        </br>
        <a href="https://www.findcokezero.com/api/">Visit the browseable API to access store inventories in the database...while I complete frontend development</a>
    </body>
</html>