<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="utf-8">
        <link
            rel="icon"
            href="https://res.cloudinary.com/dckkkjkuz/image/upload/v1509963219/findcokezero/soda-bottle.svg"
            type="image/x-icon"/>
    </head>

    <body>
        <h1>FindCokeZero</h1>
        <div>
            <p>Please pardon this throwback to the internet of the 90s.<p/>
            </br>
            <p>To access and edit store inventories of Coke flavors while I work on this frontend, </p>
            <p> visit the
                <a href="https://www.findcokezero.com/api/" target="_blank">Django REST Framework browsable API</a>.
            </p>
            </br>
            <p>To check out development plans and wireframes, </p>
            <p> go to the
                <a href="https://github.com/chrisbrickey/findcokezero" target="_blank">github repo</a>.
            </p>
        </div>
    </body>
</html>
